src/main/mule/gitaction.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="e8e3c5aa-e85a-4073-b37a-50796d0d6e49" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="gitactionFlow" doc:id="4567562a-d1bc-4f2d-b41e-5f7fb6d7f828" >
		<http:listener doc:name="Listener" doc:id="3da03d8e-b265-4fde-bb6c-927aea7f91c2" config-ref="HTTP_Listener_config" path="/action"/>
		<set-payload value="gitaction" doc:name="Set Payload" doc:id="089a48db-d176-4443-803d-acedc43abfc1" />
		<logger level="INFO" doc:name="Logger" doc:id="b135d97e-7f77-4691-a918-120d936c9f27" message="#[payload]"/>
	</flow>
</mule>
